.field {
    display: flex;
    color: white;
}

.control1 {
    margin-left: 100px;
}

.control2 {
    margin-left: 90px;
}

.control3 {
    margin-left: 120px;
}

.control4 {
    margin-left: 90px;
}

.control5 {
    margin-left: 90px;
}

.control6 {
    margin-left: 60px;
}

.control7 {
    margin-left: 60px;
}

.control8 {
    margin-left: 200px;
    margin-right: 20;
}