<div class="field">
    <label class="label">Förnamn</label>
    <div class="control1">
        <input class="input" type="text" placeholder="Text input" />
    </div>
</div>

<div class="field">
    <label class="label">Efternamn</label>
    <div class="control2">
        <input class="input" type="text" placeholder="Text input" />
    </div>
</div>

<div class="field">
    <label class="label">Email</label>
    <div class="control3 has-icons-left has-icons-right">
        <input class="input is-danger" type="email" placeholder="Email input" value="hello@" />
        <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
        <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
    </div>
    <p class="help is-danger">This email is invalid</p>
</div>

<div class="field">
    <label class="label">Lösenord</label>
    <div class="control4">
        <input class="input" type="password" placeholder="skriv din lösenord" />
    </div>
</div>

<div class="field">
    <label class="label">Kommun</label>
    <div class="control5">
        <div class="select">
            <select>
        <option>Kommun</option>
        <option>
          <label class="checkbox">
            <input type="checkbox" />
            Umeå
          </label>
        </option>
        <option>
          <label class="checkbox">
            <input type="checkbox" />
            Skellefteå
          </label>
        </option>
      </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Behörigheter</label>
    <div class="control6">
        <div class="select">
            <select>
        <option>Permissions</option>
        <option>
          <label class="checkbox">
            <input type="checkbox" />
            menu
          </label>
        </option>
        <option>
          <label class="checkbox">
            <input type="checkbox" />
            foodSpec
          </label>
        </option>
      </select>
        </div>
    </div>
</div>

<div class="field">
    <label class="label">Meddellande</label>
    <div class="control7">
        <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
</div>

<div class="field is-grouped">
    <div class="control8">
        <button class="button is-link">Submit</button>
    </div>
    <div class="control9">
        <button class="button is-link is-light">Cancel</button>
    </div>
</div>