.footer-content {
  position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 20px;
}

// .header-content {
//   position: fixed;
//     top: 0px;
//   align-items: center;
//   justify-content: center;
//   vertical-align: middle;
//   display: flex;
//   width: 100%;
// }
