<script src="https://use.fontawesome.com/ccceada4b4.js"></script>
<div *ngIf="day">
<div class="day-content" >
  <div class="day-date" [ngClass]="{'today': (day.date | date : 'mediumDate') === (dateToday | date : 'mediumDate')}">
    {{ day.date | date: "EEEE" | titlecase }}<br>{{ day.date | date }}
  </div>
  <div class="meals-content">
    <ng-template [ngIf]="day.meals" >
      <div class="day-meals" *ngFor="let meal of day.meals">
        <div class="icons" [innerHTML]="sanitizer.bypassSecurityTrustHtml(getFoodSpecs(meal))">
        </div>
          {{ meal.mealName }}
      </div>
    </ng-template>
  </div>
</div>
</div>
