<div class="centered-content">

  <nav class="navbar" role="navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <button class="paginatorLeft" (click) = "previousWeekClick()">
          <span class="material-icons">
            arrow_back_ios
          </span>
          <h1 class="weekPager">
            {{previousWeekTitle}}
          </h1>
        </button>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{municipalityTitle}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" *ngFor="let municipality of municipalities"
              (click)="chooseMunicipality(municipality)">
              <p>{{ municipality.municipalityName }}</p>
            </a>
          </div>
        </div>

        <ng-template [ngIf]="chosenMunicipality" [ngIfElse]="none">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              {{schoolTitle}}
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" *ngFor="let school of chosenMunicipality.schools" (click)="chooseSchool(school)">
                <p>{{ school.schoolName }}</p>
              </a>
            </div>
          </div>
        </ng-template>
        <ng-template #none>
          <div class="navbar-item">
            <a class="navbar-link">
              Skola
            </a>
          </div>
        </ng-template>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            {{weekTitle}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" *ngFor="let week of weeks" (click)="chooseWeek(week)">
              <p>{{ "Vecka " + week.weekNr }}</p>
            </a>

          </div>
        </div>

        <button class="paginatorRight" (click) = "nextWeekClick()">
          <h1 class="weekPager">
            {{nextWeekTitle}}
          </h1>
          <span class="material-icons">
            arrow_forward_ios
          </span>
        </button>
      </div>
    </div>
    <hr class="navbar-divider">
  </nav>

</div>
