.centered-content {
  max-height: 50px;
}

.dropdown-item {
  margin-top: 3px;
  cursor: pointer;
  background:#063752;
  color: white;
  &:hover {
        color: #1775b8 !important;
      }
}

// option {
//   color:white;
//   cursor: pointer;
//   border: 0px;
//   font-size: 14px;
//   &:hover {
//     color: #1775b8;
//   }
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }

// select:required:invalid {
//   color: gray;
// }
// option[value=""][disabled] {
//   display: none;
// }

.paginatorLeft, .paginatorRight{
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  .weekPager {
    margin-top: 8px;
    font-size: 10;
  }
  border: 0px;
  background: transparent;
  color: white;
  &:active {
    transform: translateY(4px);
  }
}

mat-select {
  margin-top: 5px;
  background:transparent !important;
  color:white !important;
  cursor: pointer;
  padding:10px;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 160px;
}
::ng-deep .mat-select-placeholder{
  color: white !important;
}

::ng-deep .mat-select-min-line{
  color:white !important;
}

.mat-option.mat-selected {
  background: #063752 !important;
  color: #1775b8 !important;
}
