<div class="centered-content">
  <button class="paginatorLeft" (click) = "previousWeekClick()">
    <span style="font-size: 30px;">
      <
    </span>
    <h1 class="weekPager">
      {{previousWeekTitle}}
    </h1>
  </button>
  <select required [(ngModel)]="chosenMunicipality" (change)="chooseMunicipality()">
    <option [ngValue]="chosenMunicipality" disabled selected hidden>{{municipalityTitle}}</option>
    <option class="dropdown-item" *ngFor="let municipality of $municipalities | async" [ngValue]="municipality"
    >{{ municipality.municipalityName }}</option>
  </select>
  <select [(ngModel)]="chosenSchool" required (change)="chooseSchool()">
    <option [ngValue]="chosenSchool"  disabled selected hidden>{{schoolTitle}}</option>
    <ng-template [ngIf]="chosenMunicipality" >
    <option class="dropdown-item" *ngFor="let school of chosenMunicipality.schools" [ngValue]="school" >{{ school.schoolName }}</option>
  </ng-template>
  </select>
  <select required (change)="setWeek()" [(ngModel)]="chosenWeek">
    <option [ngValue]="chosenWeek" disabled selected hidden >{{weekTitle}}</option>
    <ng-template [ngIf]="chosenSchool" >
      <option class="dropdown-item" *ngFor="let week of weeks" [ngValue]="week">{{ "Vecka " + week.weekNr }}</option>
    </ng-template>
  </select>
  <div>
  <button class="paginatorRight" (click) = "nextWeekClick()">
    <h1 class="weekPager">
      {{nextWeekTitle}}
    </h1>
    <span style="font-size: 30px;">
      >
    </span>
  </button>
</div>
</div>
