<div class="centered-content">
  <button class="paginatorLeft" (click) = "previousWeekClick()">
    <span style="font-size: 30px;">
      <
    </span>
    <h1 class="weekPager">
      {{previousWeekTitle}}
    </h1>
  </button>
  <select class="drowpdown" #munDropdown (change)="chooseMunicipality(munDropdown.value)">
    <option value="" class="dropdown-item"> {{municipalityTitle}}</option>
    <option class="dropdown-item" *ngFor="let municipality of $municipalities | async" value="municipality"
    >{{ municipality.municipalityName }}</option>
  </select>
  <select>
    <option value=""> {{schoolTitle}}</option>
    <ng-template [ngIf]="chosenMunicipality" >
    <option *ngFor="let school of chosenMunicipality.schools" (click)="chooseSchool(school)">{{ school.schoolName }}</option>
  </ng-template>
  </select>
  <select>
    <option value=""> {{weekTitle}}</option>
    <ng-template [ngIf]="chosenMunicipality" >
      <option *ngFor="let week of weeks" (click)="chooseWeek(week)">{{ "Vecka " + week.weekNr }}</option>
    </ng-template>
  </select>
  <button class="paginatorRight" (click) = "nextWeekClick()">
    <h1 class="weekPager">
      {{nextWeekTitle}}
    </h1>
    <span style="font-size: 30px;">
      >
    </span>
  </button>
</div>
