.centered-content {
    position: fixed;
    height: 100%;
    max-height: 50px;
}

.navbar {
    background: #063752;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navbar-item {
    margin-top: 3px;
    cursor: pointer;
    .navbar-link {
        color: hsl(0, 0%, 100%);
        background: transparent;
        &:hover {
            color: #1775b8;
        }
    }
}

.navbar-dropdown {
  height: 400px;
}

.paginatorLeft, .paginatorRight{
  display: flex;
  margin-left: 100px;
  margin-top: 10px;
  margin-right: 100px;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  .weekPager {
      margin-bottom: 3px;
      font-size: 10;
  }
  border: 0px;
  background: transparent;
  color: white;
  &:active {
    transform: translateY(4px);
  }
}
