<script src="https://use.fontawesome.com/ccceada4b4.js"></script>

<div *ngIf="week">
  <div class="centered-content">
    <div class="menu-content">
      <div class="day-content" *ngFor="let day of week.days">
        <div class="day-date">
          {{ day.date | date: "EEEE" }}<br>{{ day.date | date }}
        </div>
        <div class="meals-content">
          <ng-template [ngIf]="day.meals" [ngIfElse]="elseBlock">
            <div class="day-meals" *ngFor="let meal of day.meals">
                <form>
                  <input class="input-field" type="text" [value]="meal.mealName" #mealName>
                  <input class="icon-checkbox" type="checkbox" [checked]="checkFoodSpec(meal.foodSpecs, 'veg')" value="veg" name="veg" id="veg" #veg>
                  <i class="fas veg fa-seedling"></i>
                  <input class="icon-checkbox" type="checkbox" [checked]="checkFoodSpec(meal.foodSpecs, 'hot')" value="hot" name="hot" id="hot" #hot>
                  <i class="fas hot fa-pepper-hot"></i>
                  <input class="icon-checkbox" type="checkbox" [checked]="checkFoodSpec(meal.foodSpecs, 'pig')" value="pig" name="pig"  id="pig" #pig>
                  <i class="fas pig fa-bacon"></i>
                </form>
                <button class="update-button" (click)="updateMeal(meal, day, mealName.value, veg, hot, pig)">
                <i class="far fa-save"></i>
                </button>
                <button class="delete-button" (click)="deleteMeal(meal._id, day)">
                  <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            <div class="day-meals" *ngIf="day.meals.length < 4">
              <form #form>
                <input class="input-field" type="text" [value]="" #newMealName>
                <input class="icon-checkbox" type="checkbox" value="veg" name="veg" id="veg" #veg>
                <i class="fas veg fa-seedling"></i>
                <input class="icon-checkbox" type="checkbox" value="hot" name="hot" id="hot" #hot>
                <i class="fas hot fa-pepper-hot"></i>
                <input class="icon-checkbox" type="checkbox" value="pig" name="pig" id="pig" #pig>
                <i class="fas pig fa-bacon"></i>
              </form>
              <button class="save-button" (click)="saveMeal(day, newMealName.value, veg, hot, pig, form)">
                <i class="fas fa-save"></i>
              </button>
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="day-meals">
            </div>
          </ng-template>
      </div>
      </div>
    </div>
  </div>
</div>
