.centered-content {
  // background: #063249;
  display: flex;
  max-height: 800px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  vertical-align: middle;
  // border-radius: 8px;
  // margin: 20px;
}

.admin-menu-content {
  margin-top: 55px;
  //background: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.choices-content {
  background: #063249;
  display: flex;
  // justify-content: left;
  // align-items: left;
  max-width: 800px;
  min-width: 800px;
  max-height: 140px;
  min-height: 140px;
  border-radius: 8px;
  margin: 3px;
  padding: 10px;
  justify-content: center;
}
