  <div class="centered-content">
    <div class="login-content">
      <form>
        <div class="fields">
          <input class="email-field" type="text" placeholder=" Email: ">
          <input class="password-field" type="password" placeholder=" Password: ">
        </div>
        <div class="buttons">
          <button class="login-button" routerLink="/admin">
            Logga in
          </button>
          <button class="back-button" routerLink="/">
            Tillbaka
          </button>
        </div>
      </form>
    </div>
  </div>
