<ng-container *ngIf= "admin">
    <button class="login" routerLink="/user">
      Administrera användare
    </button>
</ng-container>
<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <button class="admin-button" routerLink="/admin">
    Administrera matsedel
  </button>
  <button class="admin-button" (click)="auth.logout({ returnTo: ROOT_URL + '/logout' })">
  Logga ut
</button>
</ng-container>
<ng-template #loggedOut>
    <button class="admin-button" (click)="auth.loginWithRedirect({
  })">
    Logga in
  </button>
</ng-template>
