.admin-button {
    border: 0px;
    background: transparent;
    color: white;
    &:active {
        transform: translateY(4px);
    }
    cursor: pointer;
    padding: 20px;
}

.user-button {
    border: 0px;
    background: transparent;
    color: white;
    &:active {
        transform: translateY(4px);
    }
    cursor: pointer;
    padding: 20px;
}

// .p {
//   text-indent: 5em;
// }

.one {
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: 4px;
}

.two {
  margin-top: 4px;
}

.user-content {
  // Set x fast!
  margin-top: 20px;
  margin-right: 780px;
  display: flex;
  flex-direction: row;
}

.logged-in-user-label {
  color: white;
}
