.centered-content {
  // background: #063249;
  display: flex;
  max-height: 800px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  vertical-align: middle;
  // border-radius: 8px;
  // margin: 20px;
}

.admin-menu-content {
  margin-top: 55px;
  //background: white;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.choices-content {
  background: #063249;
  display: flex;
  // justify-content: left;
  // align-items: left;
  max-width: 800px;
  min-width: 800px;
  max-height: 140px;
  min-height: 140px;
  border-radius: 8px;
  margin: 3px;
  padding: 10px;
  justify-content: center;
}

.add-content {
  justify-content: center;
  // padding: 10px;
  // margin: 10px;
  margin-bottom: 1px;
}

.dropdowns {
  width: 120px;
  margin: 30px;
  background: #063249;
  color: white;
  border: transparent;
}

.manage-menu-button {
  border: 0px;
  background: transparent;
  color: white;
  &:active {
    transform: translateY(4px);
  }
  cursor: pointer;
  padding: 20px;
  margin: 30px;
}

.menuName-label {
  // width: 120px;
  // min-width: 120px;
}
