<app-admin-header></app-admin-header>
<div class="centered-content">
  <div class="admin-schools-content">
    <div class="choices-content">
      <form class="add-content">
        <select class="dropdowns" (change)="chooseMunicipalityToAdd(chooseMunicipality.value)" #chooseMunicipality>
          <option disabled selected>Välj kommun</option>
          <option *ngFor="let municipality of municipalities" [ngValue]="municipality">{{municipality.municipalityName}}</option>
        </select>
          <select class="dropdowns">
            <option disabled selected>Välj skola</option>
            <option *ngFor="let school of municipalityToAdd.schools">{{school.schoolName}}</option>
          </select>
        <select class="dropdowns">
          <option disabled selected>Välj matsedel</option>
          <option *ngFor="">{{menuName}}</option>
        </select>
        <button class="manage-menu-button">
          Lägg till matsedel till skolan
        </button>
      </form>
  </div>
  <div class="choices-content">
    <form class="add-content">
      <select class="dropdowns">
        <option disabled selected>Välj kommun</option>
        <option *ngFor="">{{municipality}}</option>
      </select>
      <select class="dropdowns">
        <option disabled selected>Välj skola</option>
        <option *ngFor="">{{schoolName}}</option>
      </select>
      <label class="menuName-label" style="size: 120px;">
        <!-- {{menuName}} -->
      </label>
      <button class="manage-menu-button">
        Ta bort matsedel från skolan
      </button>
    </form>
  </div>
  </div>
</div>
