<script src="https://use.fontawesome.com/ccceada4b4.js"></script>

<div *ngIf="week">
  <div class="centered-content">
    <div class="menu-content">
      <div class="day-content" *ngFor="let day of week.days">
        <div class="day-date">
          {{ day.date | date: "EEEE" }}<br>{{ day.date | date }}
        </div>
        <div class="meals-content">

          <i class="fas hot fa-pepper-hot" style="color:red"></i>

          <ng-template [ngIf]="day.meals" [ngIfElse]="elseBlock">
            <div class="day-meals" *ngFor="let meal of day.meals">
              <div class="icons" [innerHTML]="getFoodSpecs(meal)">
              </div>
                {{ meal.mealName }}
            </div>
          </ng-template>
          <ng-template #elseBlock>
            <div class="day-meals">
                <a>{{ noInput }}</a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
